@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #000; 
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px; 
    margin: 0 auto;
}

header { 
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px; 
}

header .logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px; 
}

header img {
    width: 10px;
    width: auto;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem; 
}

header .primary-btn {
    font-weight: 500;
    font-size: 18px;
    color: #000; 
    background-color: #fff;
    border: 1px solid #333; 
    padding: 10px 20px; 
    border-radius: 100px;
}

.secondary-btn {
    font-weight: 500;
    font-size: 18px;
    color: #fff; 
    background-color: #000;
    border: none;
    border-radius: 70px;
    padding: 10px 20px; 
}

header nav i {
    color: #000; 
    font-size: 18px;
}

.main {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.main .hero {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem; 
    width: 70%;
}

.main .hero h1 {
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
}

.main .hero p {
    color: #555; 
}

.main .hero .contact-form {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.main .hero .contact-form input{
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 400px; 
}

.main .plans {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    width: 90%;
}

.main .plans .top {
    display: flex;
    justify-content: space-between;
    font-size: small;
    margin: 5px; 
}

.main .plans .cards-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    margin-left:5% ;
}

.cards-container .card{
    width: 50%; 
    padding: 1.5rem; 
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    font-size: small;
    border-radius: 15px;
}

.card .desc {
    padding-bottom:1.5rem;
    border-bottom: 1px solid #999;
    display: flex;
    flex-direction: column;
    gap: 10px;   
}

.card .header {
    color: #999; 
}

.card .bottom {
    display: flex;
    justify-content: space-between;
}

.card .bottom .forward-btn {
    border: none; 
    border-radius: 10px;
    outline: none; 
    background-color: #000;
    padding: 10px; 
}

.cards-container .card-1 {
    background-color: #44e1aa;
    color: #000; 
    border-radius: 15px; 
}

.cards-container .card-2 {
    background-color: #000;
    color: #fff; 
}

.cards-container .card-3 {
    background-color: violet;
}

.cards-container .card-4 {
    background-color: yellow;
}

footer {
    margin-top: 10px; 
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #555555a2;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: large; 
}

footer ul li a {
    color: #0000004f; 
    text-decoration: none;
    
}